#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;

/*gran parte de los otros códigos no tienen css porque es el mismo que este. En resumen, este es el de default */
